
  @import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Manrope:wght@200&display=swap');

*{  margin: 0;
    padding:0;
    border:none;
}

h1, h2 {
    font-family: 'Diphylleia', serif;
    font-weight:300;
    color:#3AA6B9;
}
body {
    font-family: 'Manrope', sans-serif;
    color:#333F48;
}

#logo {
    float:left;
    width: 200px;
    height:auto;
    margin-left: 50px;
    margin-top: 30px;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: white;
    font-weight: 400px;
}
#menu li{
    float: right;
    background-color: #3AA6B9;
    padding: 8px;
    margin-right: 30px;
    margin-top: 80px;
    text-align: center;
    list-style-type:none;
    border-radius: 10px;
}
#menu a{
    text-decoration: none;
    color: white;
}