
  @import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Manrope:wght@200&display=swap');

*{  margin: 0;
    padding:0;
    border:none;
}

h1, h2 {
    font-family: 'Diphylleia', serif;
    font-weight:300;
    color:#3AA6B9;
}
body {
    font-family: 'Manrope', sans-serif;
    color:#333F48;
}
header {
    width:100%;
    height: 150px;
}

#logo {
    text-align:left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
#logo a {
    text-decoration: none;
    color: #3AA6B9;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: white;
    font-weight: 400px;
}
#menu li{
    float: right;
    background-color: #3AA6B9;
    padding: 8px;
    margin-right: 20px;
    margin-top: none;
    margin-bottom: 40px;
    text-align: center;
    list-style-type:none;
    border-radius: 10px;
}
#menu li:hover{
    background-color: #FF9EAA;
    font-weight: bold;
    
}
#menu a{
    text-decoration: none;
    color: white;
}
.container {
    padding: 0;
}
.slider-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16/9 !important;
    width: 100%;
    height: 70vh;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}
.slider img {
    width: 100%;
    height: auto;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 30px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FF9EAA;
    opacity: 0.75;
    transition: opacity ease 250 ms;
}
.slider-nav a:hover {
    opacity: 1;
}
.container2 {
    background-color: #FFD0D0;
    padding: 0;
    width: 100%;
    height: auto;
}
.core-principles h1 {
    color: #3AA6B9;
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    text-transform: uppercase;
}
.core-principles h1,h2{
    color: #3AA6B9;
    margin-bottom: 15px;
}
.core-principles p{
    color: #3AA6B9;
    font-size: 18px;
}
.container2 #main-title {
    color: #3AA6B9;
    background-color: #FFD0D0;
    text-align: center;
    font-weight: 300px;
    padding-top: 20px;
    
  }
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    text-align: center;
  }
.grid-container2 {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #C1ECE4;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .grid-item2 {
    margin: 20px;
    height: auto;
    overflow: hidden;
    clear:both;
    position: relative;
  }
  .image__img {
    display: block;
    width: 100%;
  }
  .image__overlay1 {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: rgba(58, 166, 185, 0.6);
    color: white;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition:opacity 0.25s;
}
.image__overlay2 {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    padding: 0;
    background: rgba(58, 166, 185, 0.6);
    color: white;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition:opacity 0.25s;
}
.image__overlay3 {
    position:absolute;
    right:0;
    top:0;
    width: 100%;
    height: 100%;
    padding:0;
    background: rgba(58, 166, 185, 0.6);
    color: white;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition:opacity 0.25s;
}
.image__overlay1:hover {
    opacity:1;
  }
.image__overlay2:hover {
    opacity:1;
  }
  .image__overlay3:hover {
    opacity:1;
  }

  .image__title {
    font-size: 30px;
    font-weight: 300px;
    font-family: 'Diphylleia', serif;
  }
  .image__description {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Manrope', sans-serif;
  }
  .image__title a, .image__description a {
    color: white;
    text-decoration: none;
}
  footer {
    height: 80px;
 }
 .social-networks {
    text-align: center;
 }
.social-networks > li {
   display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3AA6B9;
 }
#adult-div {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #FFD0D0;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    
 }
#adult-title {
    font-size: 30px;
 }
#adult-c__par{
    font-size: 16px;
    margin-right: 40px;
    margin-left: 20px;
    text-align: justify;
    margin-bottom: 40px;
 }
#adult-image {
    float: left;
    margin: 20px;
    width: 300px;
    height:auto;
    position: relative;
 }

 #kid-div {
    display: flex;
    flex-wrap: wrap;
    background-color: #C1ECE4;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    
 }
#kid-title {
    font-size: 30px;
    margin-left: 20px;
 }
#kid-div h2 {
    margin-left: 20px;
 }

#kid-c__par{
    font-size: 16px;
    margin-right: 40px;
    margin-left: 20px;
    text-align: justify;
    margin-bottom: 40px;
 }
#kid-image {
    float: right;
    margin: 20px;
    width: 300px;
    height: auto;
    position: relative;
 }
 #portfolio-div {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFD0D0;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px; 
 }
#portfolio-title {
    font-size: 30px;
    margin-left: 20px;
 }
#portoflio-course h2 {
    margin-left: 20px;
 }

#portfolio-c__par{
    font-size: 16px;
    margin-right: 40px;
    margin-left: 20px;
    text-align: justify;
    margin-bottom: 40px;
 }
#portfolio-image {
    float: left;
    margin: 20px;
    width: 300px;
    height: auto;
    position: relative;
 }
#summary_item1, #summary_item2, #summary_item3 {
    margin-left: 20px;
    text-transform: uppercase;
 }
#summary_item1, #summary_item3 {
    background-color: #FF9EAA;
    padding: 10px 10px 10px 10px;

 }
 #summary_item2 {
    background-color: #3AA6B9;
    padding: 10px 10px 10px 10px;
 }


.form-section {
    clear: left;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}
#form-fill {
    float: left;
    width: 45%;
    height: auto;
    background-color: #FFD0D0;
    margin: 50px 0px 0px 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 5%;
}

.submit{
    float: center;
    color: white;
    background-color: #FF9EAA;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    font-family: 'Diphylleia', serif;
    font-size: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: right;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"] {
    width: 200px;
}
#message {
    width: 60%;
    height: 200px;
}